.container {
	padding: 16px;
	max-width: 960px;
	margin: 0 auto;
}

.list-wrapper {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
	padding: 0;
}

.pokemon-wrapper {
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
